[init]
    defaultBranch = main

[include]
    path = ~/.gitconfig-local

[include]
    path = ~/.gitconfig-darwin-1password

[includeIf "hasconfig:remote.*.url:git@github.com:*/*"]
    path = ~/.gitconfig-github
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
